@use "variables" as *;

:root {
  --color-primary: #{$color-primary};
  --color-secondary: #{$color-secondary};
  --color-white: #{$color-white};
  --color-black: #{$color-black};
  --color-accent-1: #{$color-accent-1};
  --color-accent-2: #{$color-accent-2};
  --surface: #{$color-surface};
  --text-muted: #{$color-text-muted};

  --container-max-width: #{$container-max-width};

  --text: var(--color-white);
  --background: #0a0a0f;
  --border: #27272f;

  --font-family-primary: #{$font-family-primary};

  font: 18px/145% var(--sans);
  color-scheme: light dark;
  color: var(--text);
  background: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}
