@use "variables" as *;
@use "theme" as *;
@use "keyframes" as *;
@use "mixins" as *;

body {
  margin: 0;
}

h1,
h2 {
  font-family: var(--font-family-primary);
  font-weight: 500;
}

h1 {
  font-size: 56px;
  letter-spacing: -1.68px;
  margin: 32px 0;
  @media (max-width: 1024px) {
    font-size: 36px;
    margin: 20px 0;
  }
}
h2 {
  font-size: 24px;
  line-height: 118%;
  letter-spacing: -0.24px;
  margin: 0 0 8px;
  @media (max-width: 1024px) {
    font-size: 20px;
  }
}
p {
  margin: 0;
}

span {
  text-align: center;
  vertical-align: middle;
}

button,
input,
select {
  font-family: var(--font-family-primary);
}

html {
  font-family: var(--font-family-primary);
  text-transform: uppercase;
}

.grid {
  display: grid;
  grid-column-end: span $grid-columns;
  grid-column-gap: $grid-gap;
  grid-row-gap: $grid-gap;
  grid-template-columns: repeat($grid-columns, 1fr);
  margin: $grid-margin 0;
}

.button {
  font-weight: 800 !important;

  &:hover {
    color: var(--color-primary) !important;
  }
}
